:root{
	--prim: #242F40;
	--scnd: #7D8491;
	--tert: #FD9BD6;
	--quat: #FFFFFF;
	/*--quin: #FD9BD6;*/
	--quin: #16F3F3;
}

#titleArea{
	width: 95vw;
	margin: 2.5vh;
	margin-left: 2.5vw;
	min-height: 50px;
	background: var(--scnd);
	padding: 1em;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 10px;
}

#subtitleArea{
	width: 98%;
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1%;
	box-sizing: border-box;
	align-items: center;
}

#githubButton{
	width: 175px;
	height: 50px;
}

#linkedInButton{
	width: 175px;
	height: 50px;
}

#linkedInButton img{
	filter: brightness(0) invert(1);
}

#contentArea{
	margin: 2.5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 95vw;
	max-width: 1000px;
	box-sizing: border-box;
	background: var(--scnd);
	border-radius: 10px;
	padding: 1em;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
}

.quick{
	width: 20%;
	background: var(--tert);
	height: 20%;
	margin: 1vw;
	border-radius: 20px;
	text-align: center;
}

body{
	padding: 0;
	margin: 0;
	background: var(--prim);
}

h1, h2{
	margin: 0;
	color: var(--quat);
	background: var(--tert);	
	border-radius: 10px;
	box-sizing: content-box;
	text-align: center;
}

h1{	
	width: 50%;
	margin: 0.5%;
	margin-left: 25%;
	font-size: 4em;
}

h2{
	padding: 4px;
}

a{
	background: var(--tert);
	border-radius: 10px;
	color: var(--prim);
	box-shadow: 4px 4px 6px var(--prim);
}

#titleArea a img{
	margin-top: 5px;
	height: 40px;
	width: auto;
}

.quick img{
	width: 100%;
}

html{
	font-family: monospace;
}

a:hover{
	/*filter: invert(1);*/
	background: var(--quin);
}